html
  head
  body
    h1
      Hello and thanks for logging in!
    h2=msg
    h2
      Write a post, see it below!
    form(method='POST' action='/posts')
      div.form-group
        label(for='postTitle') Title
        input.form-control(type='text' id='postTitle' placeholder='postTitle' name='postTitle')
      div.form-group
        label(for='postBody') Post Body
        input.form-control(type='postBody' id='postBody' placeholder='postBody' name='postBody')
      button.btn.btn-primary(type='submit') Create Post!
    h2
      Recent Posts
    each post in posts
      h2=post.title
      p=post.body
